<!doctype html>
<html lang="en">

{{>cssLink}}

<body>
    {{>navbar}}

    <!-- main header start  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right side  -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="img/about.png" alt="tapesh" class="img-fluid myimg" title="Tapesh Dua">
                        </figure>
                    </div>
                    <!-- left side  -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am a <span class="text-color"> Full Stack developer </span> and a Freelancer</h1>
                        <a href="https://github.com/Tapesh-1308" target="_tapesh">
                            <button>About Me</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main header end  -->

    {{>footer}}

    {{>jsLink}}
</body>

</html>